.bbody {
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.796), rgba(100, 1, 1)); */
    background-repeat: no-repeat;
    background-color: #373d49;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
.navbar {
    background-color: #000000;
    overflow: hidden;
    border-radius: 15px;
    margin: 0px 0px 0px 0px;
    background-attachment: scroll;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(100, 1, 1));
}
.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 5px 30px;
    font-family: "Roboto condensed", sans-serif;
    text-decoration: none;
    transition: background-color 0.4s;
    transition: font-size 0.4s ease-in;
    

}

.navbar a.right {
    float: right;
}

/* Kleuren voor huidige pagina's in navbar. */

.navbar a.active {
    background-color: #474747;
    color: rgb(255, 255, 255);
    font-size: 120%
}

.navbar a.active2 {
    background-color: #474747;
    color: rgb(255, 255, 255);
    font-size: 120%;
    float: right;
}

.navbar a:hover {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    
    font-size: 135%
}

* {
box-sizing: border-box;
}

/* body {
margin: 5px;
} */

/* Style the header */
.header {
/* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(100, 1, 1)); */
padding: 20px;
background-color: #373d49;
text-align: center;
font-size: 25px;
color: #e0e0e0;
}



/* Create one equal columns that floats next to each other */
.column {
float: center;
width: 100%;
padding: 35px;
color: #e0e0e0;
font-size: 130%;
}

/* Clear floats after the columns */
.row::after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
.column {
width: 100%;
}
}

.cc {
    color:#ffffff;
    text-align: center;
}

.head2 {

    text-align: left;
}


* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #501616;
    padding: 10px;
  }

  /* Product cards */

  .card {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
    max-width: 300px;
    margin-left: 105px;
    float: left;
    text-align: center;
    font-family: arial;
    color: #ffffff;
  }
  
  .price {
    color:#e0e0e0;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 21px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .card2 {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
    max-width: 300px;
    float: inline-start;
    margin-left: 45px;
    text-align: center;
    font-family: arial;
    color: #ffffff;
  }

  .card2 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 21px; }

    .footer, img{
      margin: 0;
      max-width: 130%;
      height: auto;
      background-position: center;
      background-size: cover;
    }